# Node modules (dependências)
node_modules/

# Build do TypeScript
dist/

# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Arquivos de ambiente (se usar .env futuramente)
.env

# EditorConfig e IDEs
.vscode/
.idea/

# Arquivos do sistema operacional
.DS_Store
Thumbs.db

# Outros possíveis
*.log
*.tsbuildinfo
